{
  "extends": ["@w6s"],
  "rules": {
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 3
        },
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/html-self-closing": ["off"],
    "vue/singleline-html-element-content-newline": ["off"]
  }
}
